# =============================
# Configuracion global de ORION
# =============================


# MYSQL DATA
DB_ROOT_PASSWORD=root
DB_NAME_USERS=usuario_db
DB_NAME_POSTS=feed_db
DB_NAME_INTERACCION=interaction_db


# Puertos de los Microservicios
PORT_GATEWAY=8000
PORT_EUREKA=8761
PORT_USER_SERVICE=9090
PORT_POST_SERVICE=9091
PORT_INTERACCION_SERVICE=9095


# Security JWT
JWT_SECRET=0mfQfctbNBt7Tb4Ej8aXQQebUc8zmnhpkZKObqzxUCi
JWT_EXPIRATION_TIME=86400000 # 24 HORAS


# Url de red
EUREKA_DEFAULT_ZONE=http://eureka-server:8761/eureka/