# =============================
# Configuracion global de ORION
# =============================


# MYSQL DATA
DB_ROOT_PASSWORD=root
DB_NAME_USERS=user_db
DB_NAME_POSTS=post_db


# Puertos de los Microservicios
PORT_GATEWAY=8000
PORT_EUREKA=8761
PORT_USER_SERVICE=9090


# Security JWT
JWT_SECRET=ClaveLargaParaJWT
JWT_EXPIRATION_TIME=86400000 # 24 HORAS


# Url de red
EUREKA_DEFAULT_ZONE=http://eurekaserver:8761/eureka/